<!DOCTYPE html>
<html> 
<head>
    <title>

    </title>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <marquee style="background-color: gray;color: blue;">  
         Any query/problem regarding Admissions; students are advised
          to contact Director Admissions #+92-523575518-20  +92 310 7770 148
 
    </marquee>  
    
    <div class="topnav">

    <a href="#" class="logo" >  <img src="R.png" alt="this is uskt logo img" > </a>
   
    <ul>
        
        
        <li> <a href="#">Marit List</a></li>
        <li><a href="#">Contect Us</a></li>
        <li><a href="#">USKT Magazine</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Donlowads</a></li>
        <li><a href="#">Aquire LMS</a></li>
      </ul>
      <br>

      <ul>
        <li><a href="#">About USKT</a></li>
        <li><a href="#">Admission</a></li>
        <li><a href="#">Academics</a></li>
        <li><a href="#">Offices</a></li>
        <li><a href="#">Faculty & Research</a></li>
        <li><a href="#">Study At USKT</a></li>
      </ul>
     </div>
     <section id="hero">
         <img src="big.jpg" alt="image of uskt">
  
</section>
<section id="feature" class="section-p1">
  <div class="fe-box">
    <i class="fa fa-check-circle-o" style="font-size:36px"></i><br>
    <h6>apply online</h6>
  </div>
  <div class="fe-box">
    <i class="fa fa-book" style="font-size:36px"></i><br>
    <h6>degree process</h6>
  </div>
  <div class="fe-box">
    <i class="fa fa-exclamation-circle" style="font-size:36px"></i><br>
    <h6>fee structure</h6>
  </div>
  <div class="fe-box">
    <i class="fa fa-circle-o-notch" style="font-size:36px;"></i><br>
    <h6>admission policies</h6>
  </div>
  <div class="fe-box">
  <i class="fa fa-exclamation-triangle" style="font-size:36px"></i><br>
    <h6>faqs</h6>
  </div>
</section>

<div class="gallery">
  <a target="_blank" href="1497467798982.jpg">
    <img src="1497467798982.jpg" alt="Cinque Terre" width="600" height="700">
  </a>
  <div class="desc">faculity of it</div>
</div>

<div class="gallery">
  <a target="_blank" href="phy.jpg">
    <img src="phy.jpg"  width="600" height="400">
  </a>
  <div class="desc">faculity of physics </div>
</div>

<div class="gallery">
  <a target="_blank" href="chemistry.jpg">
    <img src="chemistry.jpg"  width="600" height="400">
  </a>
  <div class="desc">faculity of chemistry</div>
</div>

<div class="gallery">
  <a target="_blank" href="artist.jpg">
    <img src="artist.jpg"  width="600" height="400">
  </a>
  <div class="desc">faculity of artist</div>
</div>
<div class="help">
  <h1>need help?</h1>
  <h2 class="sub">faqs</h2>
  <h2 class="sub2">ask addmission</h2>
</div>
<div class="footer" style="background-color: rgb(98, 146, 146);color: aliceblue;">

    <div>
        <h3>Address</h3>
        <ul>
           <p>1 km Main<br> Daska road Sialkot</p>
        </ul>    
    </div>

    <div>
        <h3>contect</h3>
                        
        <p>Email: info@uskt.edu.pk</p>
         <p>Phone: +92-523575518-20</p>
     
    </div>

    <div>

        <h3>links</h3>
        <ul id="linka">
       <li><a href="#">About</a></li>
       <li><a href="#">Fucalty</a></li>
     <li><a href="#">Contect Us</a></li>
     
    </div>
<br>
    <div class="icone">
        <a href="#"><i class="icon ion-social-facebook"></i></a>
        <a href="#"><i class="icon ion-social-twitter"></i></a>
        <a href="#"><i class="icon ion-social-instagram"></i></a></div>

<p class="copyright">copyright 2022university of sialkot</p>
</div>


</div>

</body>

</html>